.table {
    color: white;
    font-weight: 200;
}

.table th {
    border-top: 0px;
    font-size: 0.875rem;
    font-weight: 400;
}

.table td {
    vertical-align: middle;
    font-size: 0.875rem;
}

.user-card {
    height: 520px;
    overflow: auto;
}