main.content {
    transition: .3s;
    background-color: var(--sub-color);
    color: var(--white-color);
    overflow: auto;
    position: absolute;
    width: calc(100vw - var(--aside-width-small));
    height: calc(100vh - var(--header-height) - var(--footer-height));
    top: var(--header-height);
    margin-bottom: var(--footer-height);
    left: var(--aside-width-small);
    padding: 2rem;
}

main.expand-left-margin {
    left: var(--aside-width-big);
    width: calc(100vw - var(--aside-width-big));
}

main.content h4 {
    font-weight: 400;
}

.children-content {
    padding-top: 1rem;
}

.main-content-title {
    display: flex;
    align-items: center;
}

.main-content-title-icon {
    display: flex;
    justify-content: center;
    font-size: 4.3rem;
    padding-right: 1rem;
}