.menu-area {
    background-color: var(--bg-color);
    transition: .5s;
    width: var(--aside-width-small);
    height: calc(100vh - var(--header-height) - var(--footer-height));
    position: absolute;
    top: var(--header-height);
    transition: .3s;
}

.expand-nav {
    width: var(--aside-width-big);
}

.nav-brand {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
}
.nav-logo {
    color: var(--white-color);
    font-weight: 600;
}
.nav-toggle {
    font-size: 1.25rem;
    padding: .75rem;
    cursor: pointer;
    color: var(--white-color);
}

.aside-nav-link {
    display: grid;
    grid-template-columns: var(--aside-width-small) max-content;
    align-items: center;
    color: var(--gray-color);
    transition: .3s;
    cursor: pointer;
    transition: 0;
    padding: 0;
}

.aside-nav-link:hover {
    color: var(--white-color);
    transition: 0s;
}

.aside-nav-link:active {
    color: var(--white-color);
    border-left: 3px solid var(--first-color);
    transition: 0s;
}

.nav-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--aside-width-small);
    height: var(--aside-width-small);
    font-size: 1.4rem;
}

.nav-name {
    font-size: var(--small-font-size);
}

.active {
    color: var(--white-color);
    border-left: 3px solid var(--white-color);
}

.nav-link-exit:active {
    color: firebrick;
    border-left: 3px solid firebrick;
}