@import "../assets/fonts/stylesheet.css";

@import "./components/template/Footer.css";
@import "./components/template/Header.css";
@import "./components/template/Main.css";
@import "./components/template/Nav.css";

@import "./components/Terminal/Terminal.css";

:root {
    --header-height: 30px;
    --aside-width-small: 50px;
    --aside-width-big: 180px;
    --footer-height: 20px;

    --first-color: #00adb5;
    --bg-color: #393e46;
    --sub-color: #222831;
    --white-color: #eeeeee;
    --gray-color: gray;

    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;

    --z-fixed: 100;
}

* {
    padding: 0;
    margin: 0;
    font-family: Poppins, serif;
    text-decoration: none;
    user-select: none;
}

.app {
    margin: 0px;
    height: 100vh;
    transition: 0.5s;
    overflow: hidden;
}
